.header {
  color: $white;
  background-image: linear-gradient($dark-red, $white);
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-menu {
  }
  &-links {
    display: flex;
    a {
      font-weight: 600;
      padding: 5px 20px;
      text-decoration: none;
      color: $white;
      &:hover {
        color: $black;
      }
      &.active {
        span {
          padding-bottom: 10px;
          border-bottom: 2px solid $violet;
        }
      }
    }
  }
  &-usericon {
  }
}
